SyntaxError: invalid syntax (<ipython-input-23-cbeed9d792fd>, line 8)

In [3]:
import string

In [4]:
from difflib import SequenceMatcher

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()
letters = string.ascii_letters[:]

In [5]:
similar('Panangin', letters)

0.03333333333333333

In [6]:
from word2number import w2n

In [7]:
print(w2n.word_to_num('three million two hundred twenty one thousand nine hundred and twenty four'))

3221924

In [8]:
string1= 'Panangin'
string2= string.ascii_letters[:]

elem1 = list(string1)
elem2 = list(string2)

for elem2 in elem1:
    [elem1].index(elem2)

ValueError: 'P' is not in list

In [9]:
pavadinimas=list(string1)
print(pavadinimas)

['P', 'a', 'n', 'a', 'n', 'g', 'i', 'n']

In [10]:
for item in elem2:
    raides=list(string.ascii_letters[:])
    print(raides)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [11]:
[[i for i in range(len(list2)) if item1 == list2[i]] for item1 in list1]

NameError: name 'list1' is not defined

In [12]:
def findInstances(list1, list2):
    """For each item in list1,
    return a list of offsets to its occurences in list2
    """
    
    for i in list1:
        yield [pos for pos,j in enumerate(list2) if i==j]
        
list1 = pavadinimas
list2 = raides
res = list(findInstances(list1, list2))

In [13]:
res

[[41], [0], [13], [0], [13], [6], [8], [13]]

In [14]:
chunks = ''.join(res)

TypeError: sequence item 0: expected str instance, list found

In [15]:
[[i for i in range(len(list2)) if item1 == list2[i]] for item1 in list1]

[[41], [0], [13], [0], [13], [6], [8], [13]]

In [16]:
result=[(j) for i in range(len(list1)) for j in range(len(list2)) if list1[i] == list2[j]]

In [17]:
print(result)

[41, 0, 13, 0, 13, 6, 8, 13]

In [20]:
raides=list(string.ascii_letters[:])
print(raides)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [21]:
import string


list1 = list('Metforal')
list2 = list(string.ascii_letters[:])
word_to_numbers=[(j) for i in range(len(list1)) for j in range(len(list2)) if list1[i] == list2[j]]

In [22]:
word_to_numbers

[38, 4, 19, 5, 14, 17, 0, 11]

In [4]:
import pandas as pd

In [13]:
def read_code(code):
    codes_from_file = pd.read_csv(code)
    return codes_from_file

In [19]:
read_code('codes.csv')

        code
0    100,001
1    100,002
2    100,003
3    100,004
4    100,005
5    100,006
6    100,007
7    100,008
8    100,009
9    100,010
10   100,011
11   100,012
12   100,013
13   100,014
14   100,015
15   100,016
16   100,017
17   100,018
18   100,019
19   100,020
20   100,021
21   100,022
22   100,023
23   100,024
24   100,025
25   100,026
26   100,027
27   100,028
28   100,029
29   100,030
..       ...
471  100,472
472  100,473
473  100,474
474  100,475
475  100,476
476  100,477
477  100,478
478  100,479
479  100,480
480  100,481
481  100,482
482  100,483
483  100,484
484  100,485
485  100,486
486  100,487
487  100,488
488  100,489
489  100,490
490  100,491
491  100,492
492  100,493
493  100,494
494  100,495
495  100,496
496  100,497
497  100,498
498  100,499
499  100,500
500  100,501

[501 rows x 1 columns]

In [74]:
codes.head(5)

      code
0  100,001
1  100,002
2  100,003
3  100,004
4  100,005

In [102]:
codes.index

RangeIndex(start=0, stop=501, step=1)

In [1]:
def product_code(name, batch, expire):
    """
    ENter batch data and store in variables
    """
    product_name = name.capitalize().strip()
    batch_and_expire = batch+expire
    return product_name, batch_and_expire

In [37]:
product_code('Tarka', '2018/12/09', '2020/12')

('Tarka', '2018/12/092020/12')

In [153]:
import pandas as pd

In [187]:
name = 'Tarka'
batch = '2018/12/09'
expire = '2020/12'

read_code=pd.read_csv('codes.csv')
code_from_file = str(code_from_file.iloc[:1]).strip().split()[2]
batch_and_expire = str(batch+expire)
product_code = batch_and_expire+code_from_file
product_code_frame=pd.DataFrame({
                            'Code': [],
                            'Batch and expire': [batch_and_expire],
                            'Product Code': [product_code],
                            'Product name': [name],
                            'Box': [0],
                            'Pallet': [0],
                            'Batch': [batch],
                            'Expire date': [expire]})

ValueError: arrays must all be same length

In [179]:
str(code_from_file.iloc[:1]).strip().split()[2]

'100,001'

In [180]:
product_code_frame

,Code,Batch and expire,Product Code,Product name,Box,Pallet,Batch,Expire date
0,"100,001",2018/12/092020/12,<function product_code at 0x000001E7152D12F0>,Tarka,0,0,2018/12/09,2020/12

In [169]:
codes_output=batch_and_expire.join(product_code)

TypeError: can only join an iterable

In [22]:
codes_output.to_csv('Output.csv', index=False)

NameError: name 'codes_output' is not defined

In [56]:
codes['code'].value_counts()

100,311    1
100,344    1
100,204    1
100,483    1
100,119    1
100,303    1
100,201    1
100,159    1
100,259    1
100,027    1
100,116    1
100,315    1
100,169    1
100,499    1
100,466    1
100,096    1
100,292    1
100,191    1
100,018    1
100,302    1
100,087    1
100,333    1
100,461    1
100,166    1
100,273    1
100,367    1
100,384    1
100,094    1
100,472    1
100,034    1
          ..
100,014    1
100,364    1
100,234    1
100,456    1
100,428    1
100,307    1
100,044    1
100,269    1
100,150    1
100,003    1
100,427    1
100,172    1
100,031    1
100,233    1
100,380    1
100,434    1
100,470    1
100,124    1
100,312    1
100,140    1
100,084    1
100,423    1
100,442    1
100,450    1
100,196    1
100,306    1
100,109    1
100,252    1
100,125    1
100,089    1
Name: code, Length: 501, dtype: int64

In [60]:
codes['code'].nunique()

501