SyntaxError: invalid syntax (<ipython-input-23-cbeed9d792fd>, line 8)

In [177]:
import string

In [26]:
from difflib import SequenceMatcher

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()
letters = string.ascii_letters[:]

In [27]:
similar('Panangin', letters)

0.03333333333333333

In [7]:
from word2number import w2n

In [21]:
print(w2n.word_to_num('three million two hundred twenty one thousand nine hundred and twenty four'))

3221924

In [10]:
string1= 'Panangin'
string2= string.ascii_letters[:]

elem1 = list(string1)
elem2 = list(string2)

for elem2 in elem1:
    [elem1].index(elem2)

ValueError: 'P' is not in list

In [125]:
pavadinimas=list(string1)
print(pavadinimas)

['P', 'a', 'n', 'a', 'n', 'g', 'i', 'n']

In [191]:
for item in elem2:
    raides=list(string.ascii_letters[:])
    print(raides)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [107]:
[[i for i in range(len(list2)) if item1 == list2[i]] for item1 in list1]

[[13]]

In [160]:
def findInstances(list1, list2):
    """For each item in list1,
    return a list of offsets to its occurences in list2
    """
    
    for i in list1:
        yield [pos for pos,j in enumerate(list2) if i==j]
        
list1 = pavadinimas
list2 = raides
res = list(findInstances(list1, list2))

In [161]:
res

[[41], [0], [13], [0], [13], [6], [8], [13]]

In [147]:
chunks = ''.join(res)

TypeError: sequence item 0: expected str instance, list found

In [150]:
[[i for i in range(len(list2)) if item1 == list2[i]] for item1 in list1]

[[41], [0], [13], [0], [13], [6], [8], [13]]

In [154]:
result=[(j) for i in range(len(list1)) for j in range(len(list2)) if list1[i] == list2[j]]

In [163]:
print(result)

[41, 0, 13, 0, 13, 6, 8, 13]

In [188]:
a=''.join(result)

TypeError: sequence item 0: expected str instance, int found

In [189]:
print(a)

None

In [192]:
raides=list(string.ascii_letters[:])
print(raides)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [10]:
import string


list1 = list('Metforal')
list2 = list(string.ascii_letters[:])
word_to_numbers=[(j) for i in range(len(list1)) for j in range(len(list2)) if list1[i] == list2[j]]

In [11]:
word_to_numbers

[38, 4, 19, 5, 14, 17, 0, 11]

In [2]:
import pandas as pd

In [3]:
def read_code(code):
    codes = pd.read_csv(code)
    return codes

In [4]:
read_code('codes.csv')

        code  Product Name  Batch  Expiredate  Product code
0    100,001           NaN    NaN         NaN           NaN
1    100,002           NaN    NaN         NaN           NaN
2    100,003           NaN    NaN         NaN           NaN
3    100,004           NaN    NaN         NaN           NaN
4    100,005           NaN    NaN         NaN           NaN
5    100,006           NaN    NaN         NaN           NaN
6    100,007           NaN    NaN         NaN           NaN
7    100,008           NaN    NaN         NaN           NaN
8    100,009           NaN    NaN         NaN           NaN
9    100,010           NaN    NaN         NaN           NaN
10   100,011           NaN    NaN         NaN           NaN
11   100,012           NaN    NaN         NaN           NaN
12   100,013           NaN    NaN         NaN           NaN
13   100,014           NaN    NaN         NaN           NaN
14   100,015           NaN    NaN         NaN           NaN
15   100,016           NaN    NaN         NaN           NaN
16   100,017           NaN    NaN         NaN           NaN
17   100,018           NaN    NaN         NaN           NaN
18   100,019           NaN    NaN         NaN           NaN
19   100,020           NaN    NaN         NaN           NaN
20   100,021           NaN    NaN         NaN           NaN
21   100,022           NaN    NaN         NaN           NaN
22   100,023           NaN    NaN         NaN           NaN
23   100,024           NaN    NaN         NaN           NaN
24   100,025           NaN    NaN         NaN           NaN
25   100,026           NaN    NaN         NaN           NaN
26   100,027           NaN    NaN         NaN           NaN
27   100,028           NaN    NaN         NaN           NaN
28   100,029           NaN    NaN         NaN           NaN
29   100,030           NaN    NaN         NaN           NaN
..       ...           ...    ...         ...           ...
471  100,472           NaN    NaN         NaN           NaN
472  100,473           NaN    NaN         NaN           NaN
473  100,474           NaN    NaN         NaN           NaN
474  100,475           NaN    NaN         NaN           NaN
475  100,476           NaN    NaN         NaN           NaN
476  100,477           NaN    NaN         NaN           NaN
477  100,478           NaN    NaN         NaN           NaN
478  100,479           NaN    NaN         NaN           NaN
479  100,480           NaN    NaN         NaN           NaN
480  100,481           NaN    NaN         NaN           NaN
481  100,482           NaN    NaN         NaN           NaN
482  100,483           NaN    NaN         NaN           NaN
483  100,484           NaN    NaN         NaN           NaN
484  100,485           NaN    NaN         NaN           NaN
485  100,486           NaN    NaN         NaN           NaN
486  100,487           NaN    NaN         NaN           NaN
487  100,488           NaN    NaN         NaN           NaN
488  100,489           NaN    NaN         NaN           NaN
489  100,490           NaN    NaN         NaN           NaN
490  100,491           NaN    NaN         NaN           NaN
491  100,492           NaN    NaN         NaN           NaN
492  100,493           NaN    NaN         NaN           NaN
493  100,494           NaN    NaN         NaN           NaN
494  100,495           NaN    NaN         NaN           NaN
495  100,496           NaN    NaN         NaN           NaN
496  100,497           NaN    NaN         NaN           NaN
497  100,498           NaN    NaN         NaN           NaN
498  100,499           NaN    NaN         NaN           NaN
499  100,500           NaN    NaN         NaN           NaN
500  100,501           NaN    NaN         NaN           NaN

[501 rows x 5 columns]

In [5]:
codes = pd.read_csv('codes.csv')

In [6]:
codes.iloc[0]

code            100,001
Product Name        NaN
Batch               NaN
Expiredate          NaN
Product code        NaN
Name: 0, dtype: object

In [7]:
def product_code(batch, expire_date):
    '%d%d' % (batch,expire_date)
    return product_code

In [8]:
product_code(20181204, 202012)

In [9]:
product_code

In [13]:
def product_code(name, batch, expire):
    """
    ENter batch data and store in variables
    """
    name = name.capitalize()
    return name
    return batch+expire

product_code('panangin', '2018-12-07', '2020-12')

NameError: name 'code' is not defined