SyntaxError: invalid syntax (<ipython-input-23-cbeed9d792fd>, line 8)

In [3]:
import string

In [4]:
from difflib import SequenceMatcher

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()
letters = string.ascii_letters[:]

In [5]:
similar('Panangin', letters)

0.03333333333333333

In [6]:
from word2number import w2n

In [7]:
print(w2n.word_to_num('three million two hundred twenty one thousand nine hundred and twenty four'))

3221924

In [8]:
string1= 'Panangin'
string2= string.ascii_letters[:]

elem1 = list(string1)
elem2 = list(string2)

for elem2 in elem1:
    [elem1].index(elem2)

ValueError: 'P' is not in list

In [9]:
pavadinimas=list(string1)
print(pavadinimas)

['P', 'a', 'n', 'a', 'n', 'g', 'i', 'n']

In [10]:
for item in elem2:
    raides=list(string.ascii_letters[:])
    print(raides)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [11]:
[[i for i in range(len(list2)) if item1 == list2[i]] for item1 in list1]

NameError: name 'list1' is not defined

In [12]:
def findInstances(list1, list2):
    """For each item in list1,
    return a list of offsets to its occurences in list2
    """
    
    for i in list1:
        yield [pos for pos,j in enumerate(list2) if i==j]
        
list1 = pavadinimas
list2 = raides
res = list(findInstances(list1, list2))

In [13]:
res

[[41], [0], [13], [0], [13], [6], [8], [13]]

In [14]:
chunks = ''.join(res)

TypeError: sequence item 0: expected str instance, list found

In [15]:
[[i for i in range(len(list2)) if item1 == list2[i]] for item1 in list1]

[[41], [0], [13], [0], [13], [6], [8], [13]]

In [16]:
result=[(j) for i in range(len(list1)) for j in range(len(list2)) if list1[i] == list2[j]]

In [17]:
print(result)

[41, 0, 13, 0, 13, 6, 8, 13]

In [20]:
raides=list(string.ascii_letters[:])
print(raides)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [21]:
import string


list1 = list('Metforal')
list2 = list(string.ascii_letters[:])
word_to_numbers=[(j) for i in range(len(list1)) for j in range(len(list2)) if list1[i] == list2[j]]

In [22]:
word_to_numbers

[38, 4, 19, 5, 14, 17, 0, 11]

In [4]:
import pandas as pd

In [13]:
def read_code(code):
    codes_from_file = pd.read_csv(code)
    return codes_from_file

In [19]:
read_code('codes.csv')

        code
0    100,001
1    100,002
2    100,003
3    100,004
4    100,005
5    100,006
6    100,007
7    100,008
8    100,009
9    100,010
10   100,011
11   100,012
12   100,013
13   100,014
14   100,015
15   100,016
16   100,017
17   100,018
18   100,019
19   100,020
20   100,021
21   100,022
22   100,023
23   100,024
24   100,025
25   100,026
26   100,027
27   100,028
28   100,029
29   100,030
..       ...
471  100,472
472  100,473
473  100,474
474  100,475
475  100,476
476  100,477
477  100,478
478  100,479
479  100,480
480  100,481
481  100,482
482  100,483
483  100,484
484  100,485
485  100,486
486  100,487
487  100,488
488  100,489
489  100,490
490  100,491
491  100,492
492  100,493
493  100,494
494  100,495
495  100,496
496  100,497
497  100,498
498  100,499
499  100,500
500  100,501

[501 rows x 1 columns]

In [74]:
codes.head(5)

      code
0  100,001
1  100,002
2  100,003
3  100,004
4  100,005

In [102]:
codes.index

RangeIndex(start=0, stop=501, step=1)

In [1]:
def product_code(name, batch, expire):
    """
    ENter batch data and store in variables
    """
    product_name = name.capitalize().strip()
    batch_and_expire = batch+expire
    return product_name, batch_and_expire

In [37]:
product_code('Tarka', '2018/12/09', '2020/12')

('Tarka', '2018/12/092020/12')

In [218]:
import pandas as pd
import numpy as np

In [219]:
name = 'Tarka'
batch = '2018/12/09'
expire = '2020/12'

read_code=pd.read_csv('codes.csv')
code_from_file = str(read_code.iloc[:1]).strip().split()[2]
batch_and_expire = str(batch+'/'+expire)
product_code = batch_and_expire+'/'+code_from_file
product_code_frame=pd.DataFrame({
                            'Code': [code_from_file],
                            'Batch and expire': [batch_and_expire],
                            'Product Code': [product_code],
                            'Product name': [name],
                            'Box': [0],
                            'Pallet': [0],
                            'Batch': [batch],
                            'Expire date': [expire]})

In [220]:
product_code_frame

,Code,Batch and expire,Product Code,Product name,Box,Pallet,Batch,Expire date
0,"100,001",2018/12/09/2020/12,"2018/12/09/2020/12/100,001",Tarka,0,0,2018/12/09,2020/12

In [273]:


def product_code_lines(name, batch, expire):
    read_code=pd.read_csv('codes.csv')
    num_of_rows = len(read_code)
    read_code=pd.read_csv('codes.csv')
    num_of_rows = len(read_code)
    code_from_file = str(read_code.iloc[:1]).strip().split()[2]
    batch_and_expire = str(batch+'/'+expire)
    product_code = batch_and_expire+'/'+code_from_file
    product_code_frame=pd.DataFrame({
                                'Code': [code_from_file],
                                'Batch and expire': [batch_and_expire],
                                'Product Code': [product_code],
                                'Product name': [name],
                                'Box': [0],
                                'Pallet': [0],
                                'Batch': [batch],
                                'Expire date': [expire]})

In [239]:
product_code_frame('Tarka','2018/12/09','2020/12')

TypeError: 'int' object is not callable

In [229]:
for product_code_frame in range(0, num_of_rows):
    product_code_lines.loc[product_code_frame.idex.max()+1] = product_code_lines('Tarka','2018/12/09','2020/12')

AttributeError: 'function' object has no attribute 'loc'

In [225]:
num_of_rows = len(read_code)

In [226]:
num_of_rows

501

In [48]:

ddf1 = pandas.DataFrame(numpy.random.randint(100, size=(5,5)), columns=['A', 'B', 'C', 'D', 'E'])
for i in range( 1,numOfRows):
    df1 = df1.append( dict( (a,numpy.random.randint(100)) for a in ['A','B','C','D','E']), ignore_index=True)

In [ ]:
row_list = []
for i in range (0,5):
    row_list.append(dict( (a,numpy.random.randint(100)) for a in ['A','B','C','D','E']))
for i in range( 1,numOfRows):
    dict1 = dict( (a,numpy.random.randint(100)) for a in ['A','B','C','D','E'])
    row_list.append(dict1)

df3 = pandas.DataFrame(row_list, columns=['A','B','C','D','E'])

In [260]:
#codes['code'].value_counts()

In [60]:
codes['code'].nunique()

501

In [257]:
import pandas
import numpy
import time

In [270]:
numOfRows = len(read_code)
startTime = time.perf_counter()

df2 = pandas.DataFrame(numpy.random.randint(100, size=(5,5)), columns=['A', 'B', 'C', 'D', 'E'])
for i in range( 1,numOfRows):
    df2.loc[df2.index.max()+1]  = numpy.random.randint(100, size=(1,5))[0]
print('Elapsed time: {:6.3f} seconds for {:d} rows'.format(time.perf_counter() - startTime, numOfRows))

startTime = time.perf_counter() # fastest
row_list = []
for i in range (0,5):
    row_list.append(dict( (a,numpy.random.randint(100)) for a in ['A','B','C','D','E']))
for i in range( 1,numOfRows):
    dict1 = dict( (a,numpy.random.randint(100)) for a in ['A','B','C','D','E'])
    row_list.append(dict1)

df3 = pandas.DataFrame(row_list, columns=['A','B','C','D','E'])
print('Elapsed time: {:6.3f} seconds for {:d} rows'.format(time.perf_counter() - startTime, numOfRows))

Elapsed time:  0.420 seconds for 501 rows
Elapsed time:  0.006 seconds for 501 rows

In [271]:
df2

      A   B   C   D   E
0    50  12  65  41  24
1    50  62  50  53  72
2    96  19  95  44  45
3    94  98  31  11  12
4     9  50  11  28  70
5     4  56  22  25  61
6    75  81  55  17  60
7    81  35  12  39  73
8    59  31  43  75   8
9    70  41  89  36  67
10   63  94  71  47  15
11   13  17  50  43  19
12   31  14  79  54  32
13   21  51  73  75  95
14   96  33  12  85  58
15   76  16  71  47   4
16   31   3  52   3  59
17   66  89  12  43  53
18   45  71  86  81  65
19   94  65  79  40  19
20   78  99  42  41  47
21   85   6  72  23  98
22   46  73  18  36  53
23   13  50  76  54   2
24   34  55  53  57  45
25   27  79  37  21  80
26   79  72  46  80  74
27   36  90  14  21  46
28   27  91  12  30   7
29   45  95  66  30  36
..   ..  ..  ..  ..  ..
475   9  78  43  33  36
476   7  18   9  47   4
477  13  12   6  36  24
478  41  20  82   5  27
479  12  92  41  42  65
480  55  60  45  69  94
481  84  84  57  36  57
482  53  68  91   5   2
483  48  53  34  94  23
484  53  35  93  91  75
485  80  32  87  99  92
486  18  35  80  65  14
487  56  42  31   4  25
488  85  63  99  81  49
489  51  32  85  93  25
490  76  44  10  47  43
491  40  27  10  34  86
492  94   7   8   6  26
493   7  25   4  17  31
494  96  92  53  47  12
495  20  49  10  29  74
496  47  47  94  50  82
497  22   6  67  27  43
498  38   8  46  27  73
499  59  90  40  96  50
500  26  71  71   9  51
501  74   1  71  54   5
502   4   6  37  28   3
503  57   5  31  92  37
504  49  16  25  66   2

[505 rows x 5 columns]

In [272]:
df3

      A   B   C   D   E
0    41  68  59  27   1
1    93  44  87  62  98
2    28   8  58  40   8
3    16  83  78  88  85
4    28  31  11  60  39
5    97  99  35   6  98
6    14  76  47  93  58
7    40  10  22  62  78
8    59  14  34  65   2
9    46  28  16  85   0
10   14  22  66  68  38
11   74  73  25  94  36
12   39  79  97  68   6
13    5   9   3  84  35
14   75  54  59  23  28
15   21   5  14  22  80
16   69  26  82  98  89
17    5  39  39  53  99
18   80  49  55  40  42
19   31  62  79  43  58
20   61  64  14  32  21
21   29  55  37  18  51
22   50  41  80  53  85
23   54  75  87  21  22
24   36  96  95  24  33
25   88   8  48  80  13
26   55  26  15  55  44
27   77  25  33  11   2
28   21  23  26  79  18
29   46   6  91  85   8
..   ..  ..  ..  ..  ..
475   0  61  24  56  22
476  58  86   7  60  35
477  44  47  85  71  31
478  59  16  85  75  46
479  77  65   7  86  81
480  70  69  88  69  52
481  24  80  15  19  18
482  91  17  22   3  58
483  44  23  61  24  19
484  24  29  91  72  68
485  83   8  48  55  48
486  44   5  97  59  37
487  19  86  60  32  45
488  72  25  34  83  36
489  35  61  66   3   2
490  83  57  34  20  80
491  74  23  63  93  26
492  68  17  49  28  59
493  26  11  83  68  95
494  79  93  57  24  63
495  12  80  24  10  16
496  51  73  40  99  21
497  80  66  35  88  43
498  97  31  71  34  36
499   8  46  86  30  19
500  90  13  74  15  39
501  83   8  80  24   3
502  27  44   1  58  82
503  28  50   6  46  14
504  55  44   8   4   6

[505 rows x 5 columns]