In [5]:
import pandas as pd
import random
import numpy as np

In [29]:
def read_code(n):
    code = pd.read_csv(n)
    return code.head()

In [35]:
read_code('codes.csv')

      code
0  100,001
1  100,002
2  100,003
3  100,004
4  100,005

NameError: name 'code' is not defined

In [38]:
code=pd.read_csv('codes.csv')
code.columns

Index(['code'], dtype='object')

In [39]:
def batch_data():
    """
    ENter batch data and store in variables
    """
    name = 'Name'
    batch = '2018_11_30'
    expire = '2020_12_01'
    product_code = str(name+batch+expire)
    print('Product {} batch {} will expire in {}'.format(name,batch,expire))

In [40]:
batch_data()

Product Name batch 2018_11_30 will expire in 2020_12_01

In [3]:
class Batch_data():
        def __init__(self, batch, expire, name):
            self.batch=input('Enter product batch number: ')
            if 7>len(batch)>7:
                print('Please enter batch number of 8 numbers')
            self.expire=input('Enter product expire date: ')
            sefl.product_name=input('Enter product name: ')
        def __repr__(self, name, batch, expoire):
            return '{}{}{}'.format(name, batch, expire)

In [42]:

import pandas
import numpy
import time

In [43]:
numOfRows = 10000
startTime = time.perf_counter()
df1 = pandas.DataFrame(numpy.random.randint(100, size=(5,5)), columns=['A', 'B', 'C', 'D', 'E'])
for i in range( 1,numOfRows):
    df1 = df1.append( dict( (a,numpy.random.randint(100)) for a in ['A','B','C','D','E']), ignore_index=True)
print('Elapsed time: {:6.3f} seconds for {:d} rows'.format(time.perf_counter() - startTime, numOfRows))

startTime = time.perf_counter()
df2 = pandas.DataFrame(numpy.random.randint(100, size=(5,5)), columns=['A', 'B', 'C', 'D', 'E'])
for i in range( 1,numOfRows):
    df2.loc[df2.index.max()+1]  = numpy.random.randint(100, size=(1,5))[0]
print('Elapsed time: {:6.3f} seconds for {:d} rows'.format(time.perf_counter() - startTime, numOfRows))

startTime = time.perf_counter() # fastest
row_list = []
for i in range (0,5):
    row_list.append(dict( (a,numpy.random.randint(100)) for a in ['A','B','C','D','E']))
for i in range( 1,numOfRows):
    dict1 = dict( (a,numpy.random.randint(100)) for a in ['A','B','C','D','E'])
    row_list.append(dict1)

df3 = pandas.DataFrame(row_list, columns=['A','B','C','D','E'])
print('Elapsed time: {:6.3f} seconds for {:d} rows'.format(time.perf_counter() - startTime, numOfRows))

Elapsed time:  6.439 seconds for 10000 rows
Elapsed time:  9.328 seconds for 10000 rows
Elapsed time:  0.092 seconds for 10000 rows

In [45]:
df3

        A   B   C   D   E
0      21  50  27  71  98
1       6  84  51  47  24
2      32   3  91  59  35
3      97   8  47  38  99
4      26  82  69  83  61
5      54  93  95   8  15
6      22  46  11  35  54
7       0   5  68  49  77
8      89  61  93  60   0
9      10  96  26  65  37
10     41  82  80  12  77
11     52  68  11  59  11
12     32   2  54  16  77
13     73  49  60  17  49
14     38  42  89  16  27
15      5  10  40  90  61
16     88  75  63  64  26
17     35  34  51  38  36
18     74  65  42  31  64
19     68  15  80  23   9
20     80  91  28  15  31
21     39  98  52  82  64
22     90  31  20  45  49
23     75  91   4  43  71
24     36  99  48  33  19
25     63  29  50  54  20
26     44  45  73  24  71
27     98  73  73  62  60
28     72  45  77  16  65
29     95  63  32   1   3
...    ..  ..  ..  ..  ..
9974   29  84  89  75  34
9975   41  26   7  56  45
9976   69  10  20  63  10
9977   33  98  73  56  90
9978   13  36  33  39   4
9979   75  91  47  22  93
9980   67  56  67  94  29
9981   60   1  71   3  82
9982   49  59  52  59  15
9983   67  78  44  72  97
9984   95  45  37  62  13
9985   19  90  39  72  92
9986   66  90  99  35  30
9987   82  20  88  82  42
9988   41  78  65  12  25
9989   98  15  54  19  82
9990   37  33  95  15  17
9991    3   9  61  51  72
9992   75  82  27  75  87
9993   79  39  74  43  48
9994   96  98  20  38  58
9995   77  93  80  24  36
9996   78  69  67  13  13
9997   13  91  62  99  97
9998   18  62  36  44  18
9999   15  91  84  62  10
10000  78  83  87  78  36
10001  34  11  20  90  57
10002  73   9  43   6   3
10003  36  77  28  68  30

[10004 rows x 5 columns]